.App {
  font-family: "IBM Plex Mono";
}
.message {
  padding: 20px;
  width: fit-content;
  margin: 10px;
}
.message_user {
  margin-left: auto;
  color: white;
  text-align: left !important;
}
.message_userCard {
  background-color: #0b81ff !important;
}
.message_guestCard {
  background-color: #e9e9eb !important;
}
.App img {
  margin: 20px;
}
.App button {
  margin-top: 20px;
}
